/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

* {
  font-family: 'Lato';
  p {
    font-size: 1.8em;
    line-height: normal;
    font-family: 'Lato';
  }
}

.alert{
  @extend .flex;
  width: 40%;
  margin-left: 30%;
  justify-content: space-between;
  position: absolute;
  z-index: 1;

}

@media (max-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      right: 0; left: auto;
    }
    // Necessary for overrides of the default right aligned menu.
    // Will remove come v4 in all likelihood.
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }
}

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;
	
    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}

.flex {
  display: flex;
}

.no-padding {
  padding: 1px;
}

.link {
  @extend .links;
  color: #2C3E50;

  &:hover{
    color: #2C3E50;
  }

  &:visited{
    color: #2C3E50;
  }
}

.link-inverse {
  @extend .links;
  color: #ECF0F1;

  &:hover{
    color: #ECF0F1;
  }

   &:visited{
    color: #ECF0F1;
  }
}

.links {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}

$background-modal : #16a085;

.modal-content {
    padding: 10px;
    background-color: $background-modal;

  .modal-body {
    padding: 5px 0px;
    background-color: $background-modal;

    .container-fluid{
      
      .row {
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 5px;
        background: rgba(26,188,156,0.4);
      }

      .row.first {
        margin-bottom: 5px;
        border-radius: 0 0 5px 5px;
      }

      .row.last {
        margin-bottom: 0;
        border-radius: 5px 5px 0 0;
      }

      .col {
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .modal-footer {
    justify-content: space-between;
    background: #2C3E50;
    padding: 0;
    .row {
      p {
        margin: 0;
      }
      .btn {
        border-radius: 0;
      }
    }

    .container-fluid {
      margin: 0;

      .col {
        margin: 15px 0;
      }
    }
  }
}
